<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente Salvo</title>
</head>
<body>
<h2>Cliente cadastrado com sucesso!</h2>

<p><strong>Nome:</strong> <span th:text="${criar.nome}"></span></p>
<p><strong>Email:</strong> <span th:text="${criar.email}"></span></p>
<p><strong>CPF:</strong> <span th:text="${criar.cpf}"></span></p>
<p><strong>Tipo de Conta:</strong> <span th:text="${criar.tipoConta}"></span></p>
<p><strong>DataNascimento:</strong> <span th:text="${criar.dataNascimento}"></span></p>

</body>
</html>